.navbar-bg{
  /* background: linear-gradient(90deg, #00CDAC, #38EF7D) !important; */
  background: linear-gradient(241deg, #8e6827 12% 12%, #dbaf58 78% 78%);
}
.navbar-toggler {
    transition: transform 0.3s ease-in-out !important;
    border: none !important;
  }
.navbar-toggler:focus {
    box-shadow: none !important;
  }
  
  .navbar-toggler.expanded {
    transform: rotate(90deg) !important;
  }
  .logo{
    width: 55px;
  }

.social-icon {
  color: white;
  transition: 0.3s ease-out;
}

  .social-icon:hover{
 
    transform: scale(1.1);
  }
  .nav-item:hover{
    transform: scale(1.05);
  }
  .nav-item{
    margin-left: 25px;
  }
  